---
// 静态图片
import { Image } from "astro:assets";
// 基础 样式
import "./Footer.less";
---
<footer class="vh-footer">
	<main>
		<p>
			<a href="https://github.com/UF4OVER" target="_blank" rel="noopener noreferrer">
				<Image width="1" height="1" alt="UF4" src="https://shields.io/badge/Github-UF4-E89F1C" />

			<a href="https://space.bilibili.com/1000215778?spm_id_from=333.1007.0.0" target="_blank" rel="noopener noreferrer">
				<Image width="2" height="1" alt="UF4" src="https://shields.io/badge/Bilibili-UF4-fb7299" />
		<p>
			<a href="https://cloudflare.com/" target="_blank" rel="noopener noreferrer">
				<Image width="1" height="1" alt="cloudflare" src="https://shields.io/badge/Cloudflare-Pages-green" />
			</a>
			<a href="https://github.com/uxiaohan/vhAstro-Theme" target="_blank" rel="noopener noreferrer">
				<Image width="1" height="1" alt="vhAstro-Theme" src="/assets/images/footer/theme.svg" />
			</a>
		</p>
	</main>
</footer>
